HTML * {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
BODY, IMD {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
INPUT {
	outline: none;
}
A, A:hover {
	text-decoration: none;
}

.btn {
	background-image: none;
}
.header {
	background-color: #211e1f;
	padding: 0px 50px;
}

.header .logo {
	padding: 40px 0px 0px 0px;	
}

.icon-my {
	display: inline-block;
	width: 30px;
	height: 40px;
	margin: 1px 5px 0px 0px;
	line-height: 40px;
	vertical-align: text-top;
	background: url("/img/icon_my.png") 0px 0px no-repeat;
}
.icon-en {
	display: inline-block;
	width: 18px;
	height: 14px;
	line-height: 20px;
	vertical-align: text-top;
	background: url("/img/icon_en.png") 0px 0px no-repeat;
}

.line1 {
	margin-top: 10px
}
.link1 {
	text-align: center;
}
.line1 .link1 B {
	color: #c2c1c2;
	border-bottom: 2px solid #a57527;
	font: normal 12px Tahoma, sans-serif;
	text-decoration: none;
}
.line1 .link2 A {
	color: #707072;
	font: normal 12px sans-serif;
}
.line1 .link2 B {
	margin: 0px 10px;
	color: #707072;
	font-size: 10px;
}
.line1 .dropdown-toggle SPAN {
	margin-left: 5px;
	margin-right: 5px;
}
.line1 .caret {
	border-top: 7px solid #707072;
}
.btn-grey,
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.btn-grey.disabled,
.btn-grey[disabled] {
	color: #707072;
	background-color: #302d2e;
	border: none;
	text-shadow: none;
	-webkit-box-shadow: none;
}
.btn-trans,
.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active,
.btn-trans.disabled,
.btn-trans[disabled] {
	color: #707072;
	border: none;
	text-shadow: none;
	text-align: left;
	background: url("/img/bg_radio.png") 0px 13px transparent no-repeat;
}
.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active {
	background-position: 0px -18px;
}
.line2 BUTTON {
	padding-left: 20px;
	font: 11px bold sans-serif;
}
.line2 BUTTON B {
	display: block;
	color: #ae8c05;
	font-size: 11px;
	margin-top: 4px;
}
.line2 .input-append * {
	background-color: #322f30;
	border: #322f30;
	color: #c2c1c2;
}


.menu {
	background: url("/img/bg_menu.png")	0px 0px #9c9ba0 repeat-x;
	line-height: 70px;
	padding: 0px 50px;
	border-bottom: 1px solid #FFF;
}

.menu input {
	border-top-left-radius: 5px !important;;
	border-bottom-right-radius: 5px !important;;
	-webkit-border-top-left-radius: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
	-moz-border-top-left-radius: 5px !important;
	-moz-border-bottom-right-radius: 5px !important;
	margin-bottom: 0px;
	padding: 0px 10px;
}


.table-carousel TABLE {
	width: 100%;
	border: 0px;
	background-color: #322f30;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	height: 390px;
}
.table-carousel A {
	line-height: 55px;
	color: #FFF;
	font: bold 15px sans-serif;
	vertical-align: middle;
}
.carousel-indicators {
	top: auto;
	bottom: 30px;
	right: 30px;
	margin: 0;
	list-style: none;
}
.carousel-indicators LI {
	width: 12px;
	height: 12px;
	margin-left: 8px;
	text-indent: -999px;
	background: #d9a300;
	border: 1px solid #d9a300;
	border-radius: 6px !important;
}
.carousel-indicators LI.active {
	
}
.links {
	border-right: 0px;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
.links SPAN {
	display: inline-block;
	width: 40px;
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
	background: url("/img/link-block.png") no-repeat;
}
.links-home SPAN {
	background-position: 0px center;
	height: 40px;
	line-height: 40px;
}
.links-about SPAN {
	background-position: -40px center;
	height: 42px;
	line-height: 42x;
}
.links-euro SPAN {
	background-position: -80px center;
	height: 40px;
	line-height: 42x;
}
.links-wheel SPAN {
	background-position: -120px center;
	height: 40px;
	line-height: 42x;
}
.links-case SPAN {
	background-position: -160px center;
	height: 40px;
	line-height: 42x;
}
.links-phone SPAN {
	background-position: -200px center;
	height: 40px;
	line-height: 42x;
}
.links-head SPAN {
	background-position: -240px center;
	height: 40px;
	line-height: 40x;
}
.links-arrow SPAN {
	background-position: -280px center;
	height: 55px;
	line-height: 55x;
}
.links-home, .links-arrow {
	background-color: #211e1f;
}
.links-about, .links-wheel, .links-phone {
	background-color: #ae8c05;
}
.links-euro, .links-case, .links-head  {
	background-color: #752700;
}
.botless {
	border-bottom: 0px;
}


.carousel {
	margin: 0px;
}
.carousel IMG {
	border: 0px;
	width: 100%;
	height: 390px;
}

.grey-line {
	width: 100%;
	padding: 20px 50px;
	background-color: #EEE;
	color: #020202;
	font: normal 12px sans-serif;
}
.grey-line SPAN {
	display: block;
	float: left;
	margin-right: 20px;
	font: bold 34px sans-serif;
	line-height: 30px;
}

.text-line {
	border: 0px;
	border-collapse: collapse;
	width: 100%;
}
.text-line .left {
	background-color: #f6f6f6;
	padding: 20px 50px;
	vertical-align: top;
	width: 70%;
	border: 1px solid #d7d7d7;
	border-left: 0px;
}
.text-line .right {
	background-color: #FFF;
	padding: 20px 50px;
	vertical-align: top;
	width: 30%;
	border: 1px solid #d7d7d7;
	border-right: 0px;
}
.text-line IMG {
	border: 1px solid #c2c1c2;
	margin: 10px 10px 5px 0px;
}
H1 {
	text-transform: lowercase;
	font: bold 30px sans-serif;
	color: #000;
}
H2 {
	font: bold 20px sans-serif;
	color: #000;
}
H3 {
	color: #d9a300;
	font: bold 20px sans-serif;
}

.footer-links {
	padding: 20px 50px;
	width: 100%;
	background-color: #1a1a1b;
}
.footer-links A {
	color: #c1c2c6;
	font: normal 15px Verdana, Tahoma, sans-serif;
	line-height: 22px;
}

.footer {
	background-color: #1d1e20;
	padding: 0px 50px;
}
.footer .left {
	padding: 20px 0px;
}
.footer .middle {
	padding: 20px;
	color: #6a686c;
	font: normal 11px sans-serif;
	line-height: 16px;
}
.footer .right {
	padding: 20px 50px 20px 20px;
	text-align: center;
}
.social {
	background: url("/img/icons-social.png") 0px 0px transparent no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0px 5px;
	line-height: 32px;
}
.fb {	background-position: 0px 0px;}
.tw {	background-position: -50px 0px;}
.in {	background-position: -100px 0px;}
.ut {	background-position: -147px 0px;}
.fb:hover {	background-position: 0px -36px;}
.tw:hover {	background-position: -50px -36px;}
.in:hover {	background-position: -100px -36px;}
.ut:hover {	background-position: -147px -35px;}



